includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 5
  paths:
    - src
    - tests

  bootstrapFiles:
    - vendor/autoload.php

  autoload_files:
    - vendor/autoload.php

  autoload_directories:
    - vendor/phpunit/phpunit/src
